.home {
  width: 100vw;
  height: calc(100vh - 4rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    h3 {
      padding-top: 1rem;
    }
    &-cards {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  }
}
