.home {
  width: 100vw;
  height: calc(100vh - 4rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    max-width: 60vw;
    h3 {
      padding-top: 1rem;
    }
    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin-top: 2rem;
    }
    .home-button {
      width: 40vw;
      margin-top: 2rem;
      height: 45px;
    }
  }
}
