@import './assets/scss/fonts';

* {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  @extend .roboto-400;
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: brown;
  color: white;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
